<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home</title>
      <style>table, th, td {border: 1px solid black;}</style>
  </head>
  <body>
    <ul>
        <li><a href="/bsdstudents">BSD Students</a></li>
        <li><a href="/allStudents">All Students</a></li>
        <li><a href="/highGPA">Highest GPA</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <hr>
    {{{body}}}
    <hr>
    <h3>Student Honour Pledge</h3>
    <p>I acknowledge Seneca College's academic integrity policy. On my own honor, I have neither given or received unauthorized aid on this test.</p>
    <p>Name: <b style='background-color: yellow;'>Nahal Mousavi</b></p>
    <p>Student Number: <b style='background-color: yellow;'>133828178</b></p>
  </body>
</html>