<div>
    <h3>Student Info</h3>
    <p>Student ID: {{student.studId}}</p>
    <p>Student Name: {{student.name}}</p>
    <p>Student Program: {{student.program}}</p>
    <p>Student GPA: {{student.gpa}}</p>
</div>